:root {
  --font-color: rgb(73, 162, 186);
  --background-color: rgb(64, 63, 63);
}

.avatar-sm {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  height: calc(5px + 2vh);
}

.posts {
  margin-top: 20px;
}

.post {
  background: rgba(46, 46, 46);
  padding: 20px;
  margin: 12px auto;
  border-radius: 20px;
}

.post .title {
  margin-left: -32px;
}

.post .title label {
  font-size: calc(20px + 2vh);
  color: var(--font-color);
}

.post .title .creator {
  border-radius: 50%;
  float: left;
  position: relative;
  left: -12px;
  width: 52px;
}

.post .footer {
  text-align: right;
}

.new-post-element {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.edited-post-element {
  margin-top: 5px;
  margin-bottom: 5px;
}

.position-center {
  display: block;
}

.btn {
  border: 2px solid var(--background-color);
}

.btn-primary:hover {
  border: 2px solid beige;
}

.btn-warning:hover {
  border: 2px solid yellow;
}

.btn-danger:hover {
  border: 2px solid red;
}

.tox.tox-silver-sink.tox-tinymce-aux {
  display: none;
}
