.map-builder-grid {
  background-color: rgb(40, 40, 40);
  margin: 0px 8px;
  height: 560px;
  border: 1px solid beige;
  padding: 0px;
}

.toolbar {
  margin: 0px 8px 0px 8px;
}

.toolbar span {
  display: inline-block;
  line-height: 0px;
  padding: 4px;
  background-color: transparent;
  color: beige;
  font-size: 24px;
  border: 1px solid beige;
}

.toolbar span.active {
  background-color: gray;
}
