.map-selector {
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

.map-selector .modal-header,
.map-selector .modal-body,
.map-selector .modal-footer {
  background-color: #292929;
}

.map-selector .modal-header .close {
  color: beige;
  background-color: transparent;
}

.map-selector .modal-content {
  background-clip: border-box;
}

.map-selector ul {
  margin: 0px;
  padding: 0px;
}

.map-selector li {
  display: block;
  padding: 12px 24px;
}

.map-selector li.selected {
  border-top: 1px solid rgb(73, 162, 186);
  border-bottom: 1px solid rgb(73, 162, 186);
  background-color: #333;
  color: beige;
}

.map-selector li:hover {
  background-color: #333;
  color: beige;
}
