.login-container {
  display: flex;
  width: 100%;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
}

.login-container a {
  background: #7289da;
  padding: 0 20px;
  line-height: 35px;
  color: #fff;
  font-family: "Helvetica", "Arial", sans-sefir;
  font-size: 20px;
  display: block;
  text-decoration: none;
  border-radius: 3px;
}
