.game-chat {
}

.game-chat .messages {
  border: 2px solid black;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 4px;
  border-radius: 0px;
}

.game-chat .messages::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
.game-chat .messages::-webkit-scrollbar-track {
  background: rgb(64, 63, 63); /* color of the tracking area */
}
.game-chat .messages::-webkit-scrollbar-thumb {
  background-color: rgb(73, 162, 186); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
