.quest-builder .quest table {
  margin-left: 12px;
}

.quest-steps-container {
  overflow: auto;
  max-height: 800px;
  margin-left: 12px;
}

.quest-steps .step .header {
  border-radius: 10px 0px;
  background-color: steelblue;
  width: 600px;
  display: flex;
}

.quest-steps .step .header h3 {
  display: inline-block;
  color: beige;
  padding: 12px;
  margin: 0px;
  width: 460px;
  display: inline-flex;
  word-break: break-word;
}

.quest-steps .step .header .name {
  margin-left: 16px;
  display: inline-block;
  flex-grow: 1;
}
.quest-steps .step .header .name svg {
  color: beige;
  margin-top: 16px;
}

.quest-steps .step .header .actions {
  display: inline-block;
  margin-right: 16px;
}

.quest-steps .step .header .actions svg {
  border: 1px solid black;
  color: beige;
  padding: 4px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.quest-steps .step .objective .header {
  border-radius: 10px 0px;
  background-color: cadetblue;
  width: 600px;
  display: flex;
}

.quest-steps .step .objective .header .name {
  margin-left: 16px;
  display: inline-block;
  flex-grow: 1;
}

.quest-steps .step .objective .header .name h3 {
  display: inline-block;
  color: beige;
  padding: 12px;
  margin: 0px;
  width: 460px;
  display: inline-flex;
  word-break: break-word;
}

.quest-steps .step .form {
  margin: 12px;
}

.objectives-list {
  margin-left: 16px;
}
