﻿html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  font-family: "Roboto", serif;
}

.root {
  height: 100vh;
}

h2 {
  color: beige;
}

hr {
  color: beige;
}

a {
  color: darkgoldenrod;
}

a:visited {
  color: beige;
}

a:active {
  color: burlywood;
}

.dropdown-item a {
  color: darkgoldenrod;
}

.dropdown-item a:visited {
  color: beige;
}

.dropdown-item a:active {
  color: burlywood;
}

body {
  margin: 0px;
  color: rgb(73, 162, 186);
  background-color: rgb(64, 63, 63);
}

select {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  margin: 8px;
  min-width: 100px;
  color: rgb(73, 162, 186);
  background-color: rgb(47, 47, 47);
}

td select {
  margin: 0px;
}

td label {
  position: relative;
  top: 4px;
}

label {
  font-size: 16px;
}

input {
  color: beige;
  font-size: 16px;
  border: 1px solid steelblue;
  background-color: rgb(80, 80, 80);
  box-shadow: 4px 4px rgb(50, 50, 50);
  padding: 6px;
}

input[type="range"] {
  box-shadow: none;
}

input:disabled {
  color: darkseagreen;
  background-color: rgb(66, 66, 66);
}

textarea:focus,
input:focus {
  outline: none;
}

input:focus {
}

textarea {
  color: beige;
  font-size: 16px;
  width: 300px;
  height: 100px;
  border: 1px solid steelblue;
  background-color: rgb(80, 80, 80);
  box-shadow: 4px 4px rgb(50, 50, 50);
  padding: 6px;
}

textarea:disabled {
  color: darkseagreen;
  background-color: rgb(66, 66, 66);
}

td {
  padding: 2px;
  vertical-align: top;
}

.space td {
  padding-top: 8px;
}

button {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  margin: 8px;
  color: rgb(73, 162, 186);
  border: 0px;
  background-color: rgb(47, 47, 47);
}

button:disabled {
  color: rgb(43, 82, 96);
  background-color: rgb(32, 32, 32);
}

button:hover {
  background-color: rgb(74, 74, 74);
}

.btn.btn-primary {
  background-color: #659dc7;
}

.btn-primary:hover {
  border: 2px solid beige;
}

.btn.btn-warning {
  background-color: #dec943;
}

.btn-warning:hover {
  border: 2px solid yellow;
}

.btn.btn-danger {
  background-color: #c44f4d;
}

.btn-danger:hover {
  border: 2px solid red;
}

td button {
  margin: 0px;
}

.loader-div {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(51, 51, 51, 0.5);
}

.loader-div .center {
  margin: auto;
}

.loader-div .center svg {
  width: 100%;
  height: 120px;
}

.search-clear-icon {
  width: 24px;
  height: 24px;
  position: relative;
  left: -28px;
  cursor: pointer;
}

.search-options-div {
  display: flex;
  position: absolute;
  background: #333;
  z-index: 10;
  box-shadow: 3px 3px 2px 2px #222;
}

.search-options-div ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

.search-options-div ul .item {
  padding: 8px;
  cursor: pointer;
}

.search-options-div ul .item:not(:last-child) {
  border-bottom: 1px groove #222;
}

.search-options-div ul .item:hover {
  background-color: #555;
}

.collapseable-title svg {
  color: beige;
  height: 18px;
  top: 2px;
  position: relative;
  padding-right: 8px;
  cursor: pointer;
}

.icon-button svg {
  color: beige;
  font-size: 18px;
  padding: 0px 8px 0px 0px;
  width: 26px;
}

.toast.toast-success.custom-toast {
  background-color: #00b38f !important;
  color: beige !important;
}

.toast.toast-warning.custom-toast {
  background-color: #ffa64d !important;
  color: #262626 !important;
}

.toast.toast-error.custom-toast {
  background-color: #ff8080 !important;
  color: #262626 !important;
}

.toast.toast-info.custom-toast {
  background-color: #99ccff !important;
  color: #262626 !important;
}

.world-builder {
  margin: 12px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 200px;
  border: none;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgb(73, 162, 186);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 12px;
  border-radius: 3px;
  background: rgb(47, 47, 47);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 12px;
  border-radius: 3px;
  background: rgb(47, 47, 47);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: rgb(73, 162, 186);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: rgb(73, 162, 186);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.pagination svg {
  top: 9px;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.no-margin button {
  margin: 0px;
}

.navbar-toggler .navbar-toggler-icon {
  width: 1em;
  height: 1em;
}
