nav {
  width: 100%;
  background-color: #292929;
}
.navbar-dark .dropdown-menu {
  background-color: #292929;
}

.navbar-brand img {
  width: 32px;
}

nav .avatar {
  border-radius: 50%;
  width: 48px;
}
